@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TidFont;
  src: url("./assest/font/tid_font.ttf") format('truetype');
}

@font-face {
  font-family: TidFontBold;
  src: url("./assest/font/tid_font_bold.ttf") format('truetype');
}

@font-face {
  font-family: CardNumber;
  src: url("./assest/font/credit_card_number.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: TidFont !important;
  direction: rtl !important;
  
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;

}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  
}


.ant-modal-content {
  padding: 0 !important;
}


.slick-track {
  display: flex !important;
  margin: auto;
}

/* .slick-dots {
 display: flex !important;
} */

/* .slick-slider{
  position: relative;
}
.slick-slider ul{
  width: 100%;
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: 240px !important;

} */
.slick-slider ul {
  width: 100%;
  display: flex !important;
  justify-content: center;
  position: absolute;
  top: 230px !important;
  color: rgb(33, 33, 33);

}




.slick-dots .slick-active button {
  @apply !bg-blue-1 dark:!bg-white
}

.slick-dots button {
  @apply !bg-darkMode-black dark:!bg-white
}
.ant-select-selector{
  font-family: TidFont !important;
  @apply !border-0 !bg-transparent focus:!outline-0 focus:!border-0 rounded-full !shadow-none
}

.ant-select-item-option-content{
  font-family: TidFont !important;
  
}
/* .cal ~ div {
  z-index: 10000 !important;
} */
/* .cal .rmdp-top-class{
  border-radius: 30px !important;
} */









@layer base {}

@layer components {
  .boxItem-global {
    @apply w-full h-20 bg-gray-100 dark:bg-darkMode-black shadow-md dark:shadow-lg rounded-xl mb-3 py-2 px-3
  }
  .boxItem-modal-global{
    @apply mb-2 font-semibold bg-gray-200 dark:bg-darkMode-black dark:text-white p-2 rounded-lg relative
  }
 
}

@layer utilities {}




/* function Button({ color, children }) {
  const colorVariants = {
    blue: 'bg-blue-600 hover:bg-blue-500 text-white',
    red: 'bg-red-500 hover:bg-red-400 text-white',
    yellow: 'bg-yellow-300 hover:bg-yellow-400 text-black',
  }

  return (
    <button className={`${colorVariants[color]} ...`}>
      {children}
    </button>
  )
} */